[submodule "extlibs/bandit"]
	path = tests/contrib/bandit
	url = https://github.com/banditcpp/bandit.git
[submodule "fluffy/contrib/glfw"]
	path = fluffy/contrib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "fluffy/contrib/fmt"]
	path = fluffy/contrib/fmt
	url = https://github.com/fmtlib/fmt
