[submodule "extlibs/ChaiScript"]
	path = extlibs/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "extlibs/bandit"]
	path = extlibs/bandit
	url = https://github.com/banditcpp/bandit.git
