[submodule "extlibs/bandit"]
	path = tests/contrib/bandit
	url = https://github.com/banditcpp/bandit.git
[submodule "src/contrib/glfw"]
	path = src/contrib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
