name: Linting

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Clone
      uses: actions/checkout@v2

    - name: Install Dependencies
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install pythonpy clang-format-10 clang-tidy-10
        mkdir output

    - name: clang-format
      shell: bash
      run: python3 .github/check-linting.py -r --exclude fluffy/contrib --exclude fluffy/platform fluffy sandbox editor > "output/${{ github.run_id }}.diff"

    - name: Archive diff
      uses: actions/upload-artifact@v2
      with:
        name: clang-format-diff
        path: "output/${{ github.run_id }}.diff"